In [2]:
import requests
from bs4 import BeautifulSoup
import time
import random
import pandas as pd

In [3]:
url = requests.get("https://finance.naver.com/sise/sise_market_sum.naver?sosok=0&page=1")
html = BeautifulSoup(url.text)

In [4]:
import warnings
warnings.filterwarnings("ignore")

def make_table(html):
    table = html.find("table", class_ = "type_2")
    table = pd.read_html(str(table))[0]
    del table["N"]
    del table["토론실"]
    table = table.dropna(subset = "종목명") #종목명에 누락값이 있는 열을 삭제하겠다
    return table

In [5]:
kospi_page = int(html.find("td", class_ = "pgRR").find("a")["href"].split("=")[-1])
kospi_page

47

In [6]:
# 퀴즈: 모든 코스피 페이지를 가져와서 하나의 데이터프레임 만들기!
total = []
for i in range(1,kospi_page + 1):
    url = requests.get(f"https://finance.naver.com/sise/sise_market_sum.naver?sosok=0&page={i}")
    html = BeautifulSoup(url.text)
    tables = make_table(html)
    total.append(tables)
    print(f"코스피 {i}페이지 저장 완료")
    time.sleep(2)

코스피 1페이지 저장 완료
코스피 2페이지 저장 완료
코스피 3페이지 저장 완료
코스피 4페이지 저장 완료
코스피 5페이지 저장 완료
코스피 6페이지 저장 완료
코스피 7페이지 저장 완료
코스피 8페이지 저장 완료
코스피 9페이지 저장 완료
코스피 10페이지 저장 완료
코스피 11페이지 저장 완료
코스피 12페이지 저장 완료
코스피 13페이지 저장 완료
코스피 14페이지 저장 완료
코스피 15페이지 저장 완료
코스피 16페이지 저장 완료
코스피 17페이지 저장 완료
코스피 18페이지 저장 완료
코스피 19페이지 저장 완료
코스피 20페이지 저장 완료
코스피 21페이지 저장 완료
코스피 22페이지 저장 완료
코스피 23페이지 저장 완료
코스피 24페이지 저장 완료
코스피 25페이지 저장 완료
코스피 26페이지 저장 완료
코스피 27페이지 저장 완료
코스피 28페이지 저장 완료
코스피 29페이지 저장 완료
코스피 30페이지 저장 완료
코스피 31페이지 저장 완료
코스피 32페이지 저장 완료
코스피 33페이지 저장 완료
코스피 34페이지 저장 완료
코스피 35페이지 저장 완료
코스피 36페이지 저장 완료
코스피 37페이지 저장 완료
코스피 38페이지 저장 완료
코스피 39페이지 저장 완료
코스피 40페이지 저장 완료
코스피 41페이지 저장 완료
코스피 42페이지 저장 완료
코스피 43페이지 저장 완료
코스피 44페이지 저장 완료
코스피 45페이지 저장 완료
코스피 46페이지 저장 완료
코스피 47페이지 저장 완료

In [7]:
kospi_all_page = pd.concat(total, ignore_index = True) # 구조가 똑같기 떄문에 열기준으로 합쳐야한다!
kospi_all_page["소속"] = "KOSPI"
kospi_all_page.to_excel("네이버 코스피 전체.xlsx", index = False)
kospi_all_page

,종목명,현재가,전일비,등락률,액면가,시가총액,상장주식수,외국인비율,거래량,PER,ROE,소속
0,삼성전자,57700.0,상승 400,+0.70%,100.0,3444565.0,5969783.0,50.03,7539598.0,11.66,9.03,KOSPI
1,SK하이닉스,201000.0,"하락 4,000",-1.95%,5000.0,1463285.0,728002.0,55.95,1689800.0,14.03,-15.61,KOSPI
2,LG에너지솔루션,377000.0,"하락 8,500",-2.20%,500.0,882180.0,234000.0,4.54,71509.0,-243.23,6.36,KOSPI
3,삼성바이오로직스,1192000.0,"상승 41,000",+3.56%,2500.0,848394.0,71174.0,13.54,76825.0,80.61,9.12,KOSPI
4,현대차,203500.0,"하락 3,500",-1.69%,5000.0,426162.0,209416.0,37.41,269311.0,4.45,13.68,KOSPI
...,...,...,...,...,...,...,...,...,...,...,...,...
2305,TIGER 200 산업재,8285.0,상승 5,+0.06%,0.0,20.0,240.0,0.00,10809.0,NaN,NaN,KOSPI
2306,PLUS 코스닥150선물인버스,5445.0,보합0,0.00%,0.0,19.0,350.0,0.00,10462.0,NaN,NaN,KOSPI
2307,HANARO 글로벌백신치료제MSCI,11700.0,하락 100,-0.85%,0.0,18.0,150.0,0.00,447.0,NaN,NaN,KOSPI
2308,HANARO 미국애그테크,11695.0,상승 5,+0.04%,0.0,18.0,150.0,0.00,501.0,NaN,NaN,KOSPI
2309,TIGER BBIG레버리지,2075.0,하락 30,-1.43%,0.0,17.0,800.0,0.00,527.0,NaN,NaN,KOSPI

In [8]:
# 퀴즈 코스닥까지 모두 가져와서 코스피 + 코스닥을 합친 하나의 데이터프레임 만들기
# PER값이 0보다 크고, 10보다 작은 행만 추출해서 저평가 종목 발굴하기!
url = requests.get("https://finance.naver.com/sise/sise_market_sum.naver?sosok=1&page=1")
html = BeautifulSoup(url.text)

In [9]:
kosdak_page = int(html.find("td", class_ = "pgRR").find("a")["href"].split("=")[-1])
kosdak_page

36

In [10]:
def make_table2(html):
    table = html.find("table", class_ = "type_2")
    table = pd.read_html(str(table))[0]
    del table["N"]
    del table["토론실"]
    table = table.dropna(subset = "종목명")
    return table

In [11]:
total2 = []
for i in range(1,kosdak_page + 1):
    url = requests.get(f"https://finance.naver.com/sise/sise_market_sum.naver?sosok=1&page={i}")
    html = BeautifulSoup(url.text)
    tables = make_table2(html)
    total2.append(tables)
    print(f"코스닥 {i}페이지 저장 완료")
    time.sleep(2)

코스닥 1페이지 저장 완료
코스닥 2페이지 저장 완료
코스닥 3페이지 저장 완료
코스닥 4페이지 저장 완료
코스닥 5페이지 저장 완료
코스닥 6페이지 저장 완료
코스닥 7페이지 저장 완료
코스닥 8페이지 저장 완료
코스닥 9페이지 저장 완료
코스닥 10페이지 저장 완료
코스닥 11페이지 저장 완료
코스닥 12페이지 저장 완료
코스닥 13페이지 저장 완료
코스닥 14페이지 저장 완료
코스닥 15페이지 저장 완료
코스닥 16페이지 저장 완료
코스닥 17페이지 저장 완료
코스닥 18페이지 저장 완료
코스닥 19페이지 저장 완료
코스닥 20페이지 저장 완료
코스닥 21페이지 저장 완료
코스닥 22페이지 저장 완료
코스닥 23페이지 저장 완료
코스닥 24페이지 저장 완료
코스닥 25페이지 저장 완료
코스닥 26페이지 저장 완료
코스닥 27페이지 저장 완료
코스닥 28페이지 저장 완료
코스닥 29페이지 저장 완료
코스닥 30페이지 저장 완료
코스닥 31페이지 저장 완료
코스닥 32페이지 저장 완료
코스닥 33페이지 저장 완료
코스닥 34페이지 저장 완료
코스닥 35페이지 저장 완료
코스닥 36페이지 저장 완료

In [12]:
kosdak_all_page = pd.concat(total2, ignore_index = True)
kosdak_all_page["소속"] = "KOSDAK"
kosdak_all_page.to_excel("네이버 코스닥 전체.xlsx", index = False)
kosdak_all_page

,종목명,현재가,전일비,등락률,액면가,시가총액,상장주식수,외국인비율,거래량,PER,ROE,소속
0,알테오젠,392500.0,"상승 9,500",+2.48%,500.0,209276.0,53319.0,15.82,202976.0,-7136.36,-2.27,KOSDAK
1,에코프로비엠,135200.0,"하락 5,600",-3.98%,500.0,132227.0,97801.0,10.67,395478.0,-60.85,-0.64,KOSDAK
2,HLB,88300.0,상승 300,+0.34%,500.0,116015.0,131387.0,22.57,674949.0,-62.01,-32.55,KOSDAK
3,에코프로,66400.0,"하락 2,200",-3.21%,100.0,88404.0,133138.0,20.02,603112.0,-48.64,3.43,KOSDAK
4,레인보우로보틱스,391000.0,"상승 1,000",+0.26%,500.0,75853.0,19400.0,8.28,190236.0,-370.62,-0.93,KOSDAK
...,...,...,...,...,...,...,...,...,...,...,...,...
1786,투비소프트,629.0,하락 1,-0.16%,500.0,62.0,9900.0,2.26,457475.0,-0.20,-41.73,KOSDAK
1787,셀리버리,152.0,"하락 6,528",-97.72%,500.0,57.0,37183.0,2.30,16946754.0,-0.92,472.60,KOSDAK
1788,CNH,109.0,보합0,0.00%,2500.0,41.0,37200.0,6.07,0.0,-0.04,-18.80,KOSDAK
1789,소프트센우,7050.0,상승 140,+2.03%,200.0,25.0,357.0,0.02,107.0,-110.16,NaN,KOSDAK
1790,대호특수강우,2820.0,하락 170,-5.69%,2500.0,24.0,848.0,0.02,1142.0,-32.79,NaN,KOSDAK

In [17]:
df = pd.concat([kospi_all_page, kosdak_all_page], ignore_index = True)
df

,종목명,현재가,전일비,등락률,액면가,시가총액,상장주식수,외국인비율,거래량,PER,ROE,소속
0,삼성전자,57700.0,상승 400,+0.70%,100.0,3444565.0,5969783.0,50.03,7539598.0,11.66,9.03,KOSPI
1,SK하이닉스,201000.0,"하락 4,000",-1.95%,5000.0,1463285.0,728002.0,55.95,1689800.0,14.03,-15.61,KOSPI
2,LG에너지솔루션,377000.0,"하락 8,500",-2.20%,500.0,882180.0,234000.0,4.54,71509.0,-243.23,6.36,KOSPI
3,삼성바이오로직스,1192000.0,"상승 41,000",+3.56%,2500.0,848394.0,71174.0,13.54,76825.0,80.61,9.12,KOSPI
4,현대차,203500.0,"하락 3,500",-1.69%,5000.0,426162.0,209416.0,37.41,269311.0,4.45,13.68,KOSPI
...,...,...,...,...,...,...,...,...,...,...,...,...
4096,투비소프트,629.0,하락 1,-0.16%,500.0,62.0,9900.0,2.26,457475.0,-0.20,-41.73,KOSDAK
4097,셀리버리,152.0,"하락 6,528",-97.72%,500.0,57.0,37183.0,2.30,16946754.0,-0.92,472.60,KOSDAK
4098,CNH,109.0,보합0,0.00%,2500.0,41.0,37200.0,6.07,0.0,-0.04,-18.80,KOSDAK
4099,소프트센우,7050.0,상승 140,+2.03%,200.0,25.0,357.0,0.02,107.0,-110.16,NaN,KOSDAK
4100,대호특수강우,2820.0,하락 170,-5.69%,2500.0,24.0,848.0,0.02,1142.0,-32.79,NaN,KOSDAK

In [18]:
df2 = df[(df['PER'] > 0) & (df['PER'] < 10)]
df2

,종목명,현재가,전일비,등락률,액면가,시가총액,상장주식수,외국인비율,거래량,PER,ROE,소속
4,현대차,203500.0,"하락 3,500",-1.69%,5000.0,426162.0,209416.0,37.41,269311.0,4.45,13.68,KOSPI
5,삼성전자우,48250.0,상승 250,+0.52%,100.0,397043.0,822887.0,73.79,469195.0,9.75,NaN,KOSPI
7,기아,93800.0,"하락 1,100",-1.16%,5000.0,373017.0,397673.0,39.40,392553.0,3.90,20.44,KOSPI
9,KB금융,81800.0,하락 200,-0.24%,5000.0,321906.0,393528.0,75.62,347291.0,7.07,8.44,KOSPI
12,현대모비스,257000.0,상승 500,+0.19%,5000.0,238997.0,92995.0,41.68,46996.0,7.01,8.73,KOSPI
...,...,...,...,...,...,...,...,...,...,...,...,...
3942,케이피티유,3500.0,하락 15,-0.43%,500.0,200.0,5726.0,0.28,721.0,9.56,6.55,KOSDAK
3949,다산솔루에타,1108.0,하락 1,-0.09%,500.0,199.0,17950.0,0.54,4546.0,0.64,55.28,KOSDAK
3973,디모아,3550.0,하락 5,-0.14%,500.0,175.0,4942.0,1.03,1466.0,3.08,-4.88,KOSDAK
3979,씨엑스아이,57.0,상승 1,+1.79%,0.0,171.0,300578.0,0.00,629338.0,0.55,6.57,KOSDAK
3982,웹스,1179.0,하락 3,-0.25%,500.0,169.0,14364.0,0.74,12975.0,7.46,2.96,KOSDAK

In [16]:
df.to_excel("네이버 코스닥,코스피 전체.xlsx", index = False)
df2.to_excel("코스피,코스닥 저평가 종목.xlsx", index = False)

In [25]:
# 요청(User Agent :"", python3.10..~~)
# User-Agent를 속이는 방법 요청(User Agent :"", python3.10..~~)
# User-Agent를 속이는 방법(우회해서 가지고 오기)
dic = {"User-Agent" : "mozilla/5.0 (macintosh; intel mac os x 10_15_7)"}

url = requests.get("https://finance.naver.com/item/sise_day.naver?code=005930", headers = dic)
html = BeautifulSoup(url.text)
html

<html lang="ko">
<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
<title>네이버페이 증권</title>
<link href="https://ssl.pstatic.net/imgstock/static.pc/20250220171615/css/newstock.css" rel="stylesheet" type="text/css"/>
<link href="https://ssl.pstatic.net/imgstock/static.pc/20250220171615/css/common.css" rel="stylesheet" type="text/css"/>
<link href="https://ssl.pstatic.net/imgstock/static.pc/20250220171615/css/finance_header.css" rel="stylesheet" type="text/css"/>
<link href="https://ssl.pstatic.net/imgstock/static.pc/20250220171615/css/layout.css" rel="stylesheet" type="text/css"/>
<link href="https://ssl.pstatic.net/imgstock/static.pc/20250220171615/css/main.css" rel="stylesheet" type="text/css"/>
<link href="https://ssl.pstatic.net/imgstock/static.pc/20250220171615/css/newstock2.css" rel="stylesheet" type="text/css"/>
<link href="https://ssl.pstatic.net/imgstock/static.pc/20250220171615/css/newstock3.css" rel="stylesheet" type="text/css"/>
<link href="https://ssl.pstatic.net/imgstock/static.pc/20250220171615/css/world.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<script language="JavaScript">
function mouseOver(obj){
  obj.style.backgroundColor="#f6f4e5";
}
function mouseOut(obj){
  obj.style.backgroundColor="#ffffff";
}
</script>
<h4 class="tlline2"><strong><span class="red03">일별</span>시세</strong></h4>
<table cellspacing="0" class="type2">
<tr>
<th>날짜</th>
<th>종가</th>
<th>전일비</th>
<th>시가</th>
<th>고가</th>
<th>저가</th>
<th>거래량</th>
</tr>
<tr>
<td colspan="7" height="8"></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2025.02.25</span></td>
<td class="num"><span class="tah p11">57,400</span></td>
<td class="num">
<em class="bu_p bu_pup"><span class="blind">상승</span></em><span class="tah p11 red02">
				100
				</span>
</td>
<td class="num"><span class="tah p11">56,600</span></td>
<td class="num"><span class="tah p11">57,800</span></td>
<td class="num"><span class="tah p11">56,500</span></td>
<td class="num"><span class="tah p11">8,295,712</span></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2025.02.24</span></td>
<td class="num"><span class="tah p11">57,300</span></td>
<td class="num">
<em class="bu_p bu_pdn"><span class="blind">하락</span></em><span class="tah p11 nv01">
				900
				</span>
</td>
<td class="num"><span class="tah p11">57,300</span></td>
<td class="num"><span class="tah p11">57,700</span></td>
<td class="num"><span class="tah p11">57,200</span></td>
<td class="num"><span class="tah p11">14,138,471</span></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2025.02.21</span></td>
<td class="num"><span class="tah p11">58,200</span></td>
<td class="num">
<em class="bu_p bu_pdn"><span class="blind">하락</span></em><span class="tah p11 nv01">
				200
				</span>
</td>
<td class="num"><span class="tah p11">58,400</span></td>
<td class="num"><span class="tah p11">58,500</span></td>
<td class="num"><span class="tah p11">57,100</span></td>
<td class="num"><span class="tah p11">22,198,428</span></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2025.02.20</span></td>
<td class="num"><span class="tah p11">58,400</span></td>
<td class="num">
<em class="bu_p bu_pdn"><span class="blind">하락</span></em><span class="tah p11 nv01">
				300
				</span>
</td>
<td class="num"><span class="tah p11">59,100</span></td>
<td class="num"><span class="tah p11">59,100</span></td>
<td class="num"><span class="tah p11">58,100</span></td>
<td class="num"><span class="tah p11">21,589,059</span></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2025.02.19</span></td>
<td class="num"><span class="tah p11">58,700</span></td>
<td class="num">
<em class="bu_p bu_pup"><span class="blind">상승</span></em><span class="tah p11 red02">
				1,800
				</span>
</td>
<td class="num"><span class="tah p11">57,400</span></td>
<td class="num"><span class="tah p11">58,900</span></td>
<td class="num"><span class="tah p11">57,300</span></td>
<td class="num"><span class="tah p11">25,395,151</span></td>
</tr>
<tr>
<td colspan="7" height="8"></td>
</tr>
<tr>
<td bgcolor="#e1e1e1" colspan="7" height="1"></td>
</tr>
<tr>
<td colspan="7" height="8"></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2025.02.18</span></td>
<td class="num"><span class="tah p11">56,900</span></td>
<td class="num">
<em class="bu_p bu_pup"><span class="blind">상승</span></em><span class="tah p11 red02">
				900
				</span>
</td>
<td class="num"><span class="tah p11">56,200</span></td>
<td class="num"><span class="tah p11">57,200</span></td>
<td class="num"><span class="tah p11">55,900</span></td>
<td class="num"><span class="tah p11">22,131,007</span></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2025.02.17</span></td>
<td class="num"><span class="tah p11">56,000</span></td>
<td class="num">
<em class="bu_p bu_pn"><span class="blind">보합</span></em><span class="tah p11">0</span>
</td>
<td class="num"><span class="tah p11">56,100</span></td>
<td class="num"><span class="tah p11">56,500</span></td>
<td class="num"><span class="tah p11">55,700</span></td>
<td class="num"><span class="tah p11">11,916,027</span></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2025.02.14</span></td>
<td class="num"><span class="tah p11">56,000</span></td>
<td class="num">
<em class="bu_p bu_pup"><span class="blind">상승</span></em><span class="tah p11 red02">
				200
				</span>
</td>
<td class="num"><span class="tah p11">56,000</span></td>
<td class="num"><span class="tah p11">57,300</span></td>
<td class="num"><span class="tah p11">56,000</span></td>
<td class="num"><span class="tah p11">23,979,779</span></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2025.02.13</span></td>
<td class="num"><span class="tah p11">55,800</span></td>
<td class="num">
<em class="bu_p bu_pn"><span class="blind">보합</span></em><span class="tah p11">0</span>
</td>
<td class="num"><span class="tah p11">56,100</span></td>
<td class="num"><span class="tah p11">56,400</span></td>
<td class="num"><span class="tah p11">55,600</span></td>
<td class="num"><span class="tah p11">22,448,377</span></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2025.02.12</span></td>
<td class="num"><span class="tah p11">55,800</span></td>
<td class="num">
<em class="bu_p bu_pup"><span class="blind">상승</span></em><span class="tah p11 red02">
				100
				</span>
</td>
<td class="num"><span class="tah p11">55,100</span></td>
<td class="num"><span class="tah p11">55,900</span></td>
<td class="num"><span class="tah p11">54,500</span></td>
<td class="num"><span class="tah p11">26,428,596</span></td>
</tr>
<tr>
<td colspan="7" height="8"></td>
</tr>
</table>
<!--- 페이지 네비게이션 시작--->
<table align="center" class="Nnavi" summary="페이지 네비게이션 리스트">
<caption>페이지 네비게이션</caption>
<tr>
<td class="on">
<a href="/item/sise_day.naver?code=005930&amp;page=1">1</a>
</td>
<td>
<a href="/item/sise_day.naver?code=005930&amp;page=2">2</a>
</td>
<td>
<a href="/item/sise_day.naver?code=005930&amp;page=3">3</a>
</td>
<td>
<a href="/item/sise_day.naver?code=005930&amp;page=4">4</a>
</td>
<td>
<a href="/item/sise_day.naver?code=005930&amp;page=5">5</a>
</td>
<td>
<a href="/item/sise_day.naver?code=005930&amp;page=6">6</a>
</td>
<td>
<a href="/item/sise_day.naver?code=005930&amp;page=7">7</a>
</td>
<td>
<a href="/item/sise_day.naver?code=005930&amp;page=8">8</a>
</td>
<td>
<a href="/item/sise_day.naver?code=005930&amp;page=9">9</a>
</td>
<td>
<a href="/item/sise_day.naver?code=005930&amp;page=10">10</a>
</td>
<td class="pgR">
<a href="/item/sise_day.naver?code=005930&amp;page=11">
				다음<img alt="" border="0" height="5" src="https://ssl.pstatic.net/static/n/cmn/bu_pgarR.gif" width="3"/>
</a>
</td>
<td class="pgRR">
<a href="/item/sise_day.naver?code=005930&amp;page=718">맨뒤
				<img alt="" border="0" height="5" src="https://ssl.pstatic.net/static/n/cmn/bu_pgarRR.gif" width="8"/>
</a>
</td>
</tr>
</table>
<!--- 페이지 네비게이션 끝--->
</body>
</html>

In [28]:
table = html.find("table", class_ = "type2")
table = pd.read_html(str(table))[0].dropna()
table

            날짜       종가        전일비       시가       고가       저가         거래량
1   2025.02.25  57400.0    상승  100  56600.0  57800.0  56500.0   8295712.0
2   2025.02.24  57300.0    하락  900  57300.0  57700.0  57200.0  14138471.0
3   2025.02.21  58200.0    하락  200  58400.0  58500.0  57100.0  22198428.0
4   2025.02.20  58400.0    하락  300  59100.0  59100.0  58100.0  21589059.0
5   2025.02.19  58700.0  상승  1,800  57400.0  58900.0  57300.0  25395151.0
9   2025.02.18  56900.0    상승  900  56200.0  57200.0  55900.0  22131007.0
10  2025.02.17  56000.0        보합0  56100.0  56500.0  55700.0  11916027.0
11  2025.02.14  56000.0    상승  200  56000.0  57300.0  56000.0  23979779.0
12  2025.02.13  55800.0        보합0  56100.0  56400.0  55600.0  22448377.0
13  2025.02.12  55800.0    상승  100  55100.0  55900.0  54500.0  26428596.0

In [45]:
# 배당 1 페이지 불러오기
url = requests.get("https://finance.naver.com/sise/dividend_list.naver?&page=1")
html = BeautifulSoup(url.text)

In [48]:
import numpy as np

table = html.find("table", class_ = "type_1 tb_ty")
table = pd.read_html(str(table), header = 1)[0]
table = table.dropna(subset = "종목명")

#table["3년전"] = table["3년전"].str.replace("-", "0").astype("int32")
#table["2년전"] = table["2년전"].str.replace("-", "0").astype("int32")
#table.info()

<class 'pandas.core.frame.DataFrame'>
Index: 50 entries, 1 to 68
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   종목명       50 non-null     object
 1   현재가       50 non-null     float64
 2   기준월       50 non-null     float64
 3   배당금       50 non-null     float64
 4   수익률 (%)   50 non-null     float64
 5   배당성향 (%)  50 non-null     object
 6   ROE (%)   50 non-null     object
 7   PER (배)   50 non-null     object
 8   PBR (배)   50 non-null     object
 9   1년전       50 non-null     float64
 10  2년전       50 non-null     int32
 11  3년전       50 non-null     int32
dtypes: float64(5), int32(2), object(5)
memory usage: 4.7+ KB

In [61]:
# 전체 페이지를 불러와서 데이터 전처리도 처리!
# 3년전 < 2년전 < 1년전 < 배당금 발굴하기
url = requests.get("https://finance.naver.com/sise/dividend_list.naver?&page=1")
html = BeautifulSoup(url.text)
dividend = int(html.find("td", class_ = 'pgRR').find("a")['href'].split("=")[-1])
dividend

17

In [62]:
def make_table3(html):
    table = html.find("table", class_ = "type_1 tb_ty")
    table = pd.read_html(str(table), header = 1)[0]
    table = table.dropna(subset = "종목명")
    return table

In [65]:
total3 = []
for i in range(1, dividend + 1):
    url = requests.get(f"https://finance.naver.com/sise/dividend_list.naver?&page={i}")
    html = BeautifulSoup(url.text)
    table = make_table3(html)
    total3.append(table)
    print(f"네이버 배당{i}페이지 저장 완료")
    time.sleep(2)

네이버 배당1페이지 저장 완료
네이버 배당2페이지 저장 완료
네이버 배당3페이지 저장 완료
네이버 배당4페이지 저장 완료
네이버 배당5페이지 저장 완료
네이버 배당6페이지 저장 완료
네이버 배당7페이지 저장 완료
네이버 배당8페이지 저장 완료
네이버 배당9페이지 저장 완료
네이버 배당10페이지 저장 완료
네이버 배당11페이지 저장 완료
네이버 배당12페이지 저장 완료
네이버 배당13페이지 저장 완료
네이버 배당14페이지 저장 완료
네이버 배당15페이지 저장 완료
네이버 배당16페이지 저장 완료
네이버 배당17페이지 저장 완료

In [87]:
df = pd.concat(total3, ignore_index = True)

df["3년전"] = df["3년전"].replace("-", 0).astype("float")
df["2년전"] = df["2년전"].replace("-", 0).astype("float")
df["1년전"] = df["1년전"].replace("-", 0).astype("float")
df["배당금"] = df["배당금"].replace("-", 0).astype("float")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 845 entries, 0 to 844
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   종목명       845 non-null    object
 1   현재가       845 non-null    float64
 2   기준월       845 non-null    object
 3   배당금       845 non-null    float64
 4   수익률 (%)   845 non-null    float64
 5   배당성향 (%)  845 non-null    object
 6   ROE (%)   845 non-null    object
 7   PER (배)   845 non-null    object
 8   PBR (배)   845 non-null    object
 9   1년전       845 non-null    float64
 10  2년전       845 non-null    float64
 11  3년전       845 non-null    float64
dtypes: float64(6), object(6)
memory usage: 79.3+ KB

In [80]:
df

,종목명,현재가,기준월,배당금,수익률 (%),배당성향 (%),ROE (%),PER (배),PBR (배),1년전,2년전,3년전
0,이지스밸류리츠,4365.0,24.12,293.0,18.85,-1361.40,-0.57,-116.13,0.66,293.0,293.0,292.0
1,제이알글로벌리츠,2520.0,24.06,366.0,15.48,158.83,2.82,32.42,0.94,366.0,366.0,330.0
2,레드캡투어,14050.0,25.03,450.0,15.30,177.53,-,-,-,450.0,450.0,400.0
3,NH프라임리츠,4545.0,24.11,225.0,14.48,137.10,6.38,11.26,0.72,225.0,225.0,248.0
4,신한알파리츠,6050.0,24.09,367.0,13.32,547.91,0.61,183.31,1.19,367.0,367.0,321.0
...,...,...,...,...,...,...,...,...,...,...,...,...
840,포스코엠텍,13970.0,25.03,37.0,0.14,146.62,-,-,-,37.0,37.0,80.0
841,삼천당제약,185500.0,24.12,0.0,0.11,-,-,-,-,0.0,0.0,0.0
842,솔루스첨단소재,10160.0,24.12,50.0,0.10,-,-,-,-,50.0,50.0,48.0
843,대주전자재료,115400.0,24.12,100.0,0.09,-,-,-,-,100.0,100.0,100.0
844,삼아알미늄,34000.0,24.12,250.0,0.07,-,-,-,-,250.0,250.0,200.0

In [88]:
A = df["3년전"] < df["2년전"]
B = df["2년전"] < df["1년전"]
C = df["1년전"] < df["배당금"]
df2 = df[A & B & C]
df2

,종목명,현재가,기준월,배당금,수익률 (%),배당성향 (%),ROE (%),PER (배),PBR (배),1년전,2년전,3년전
0,이지스밸류리츠,4365.0,24.12,823.0,18.85,-1361.40,-0.57,-116.13,0.66,406.0,293.0,292.0
1,제이알글로벌리츠,2520.0,24.06,390.0,15.48,158.83,2.82,32.42,0.94,380.0,366.0,330.0
17,현대해상,24150.0,24.03,2063.0,8.54,26.61,7.81,4.56,0.40,1965.0,1480.0,1000.0
24,도이치모터스,4735.0,24.12,380.0,8.02,-,-,-,-,370.0,360.0,350.0
32,HS애드,7200.0,25.03,550.0,7.64,39.29,-,-,-,450.0,400.0,350.0
...,...,...,...,...,...,...,...,...,...,...,...,...
784,한화에어로스페이스,677000.0,24.12,3500.0,0.52,6.94,-,-,-,1800.0,1000.0,700.0
789,포스코DX,25000.0,25.03,125.0,0.50,-,-,-,-,100.0,75.0,50.0
805,유한양행,122100.0,24.12,500.0,0.41,-,-,-,-,430.0,365.0,349.0
813,삼양식품,868000.0,25.02,3300.0,0.38,-,-,-,-,2100.0,1400.0,1000.0
837,카카오,39600.0,25.03,68.0,0.17,20.04,-,-,-,61.0,60.0,53.0

In [91]:
from datetime import datetime
today = str(datetime.today().date())

text = f"{today}기준 3년 연속 배당금이 상승한 기업 리스트\n\n"

for i in range(len(df2)):
    row = df2.iloc[i]
    name = row["종목명"]
    a,b,c,d = row["배당금"], row["1년전"], row["2년전"], row["3년전"]
    text += f'{name} : {int(d):,}원 → {int(c):,}원 → {int(b):,}원 → {int(a):,}원\n'

f = open("3년 연속 배당금 상승 기업.txt", 'wt')
f.write(text)
f.close()

In [90]:
from datetime import datetime
today = str(datetime.today().date())
today

'2025-02-25'