In [1]:
import undetected_chromedriver as uc
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
import time

In [17]:
driver = uc.Chrome()
driver.get("https://search.naver.com/search.naver?ssc=tab.news.all&where=news&sm=tab_jum&query=%EB%8C%80%EA%B5%AC%EC%9D%80%ED%96%89")

In [3]:
# 네이버 대구은행 검색 뉴스 탭에서 1페이지 기사 제목과 요약 내용 가지고 오기
box = []
news = driver.find_element(By.CSS_SELECTOR, "ul.list_news._infinite_list").find_elements(By.CSS_SELECTOR, "li.bx")
for i in news:
    title = i.find_element(By.CSS_SELECTOR, "a.news_tit").get_attribute("title")
    content = i.find_element(By.CSS_SELECTOR, "div.dsc_wrap").text.strip()
    A = [title, content]
    if A not in box:
        box.append(A)

box

[['대구 은행서 4천만원 턴 30대 은행강도 1시간여 만 검거',
  '차단하고 추적에 나서 1시간여 만에 은행에서 500m 떨어진 상가 옥상에 숨어 있던 A씨를 긴급체포했습니다. 경찰 조사에서 A씨는 대출금 등 채무로 인해 범행을 저질렀다고 진술했습니다. 경찰은 A씨를 상대로 정확한 범행 경위 등을 조사한 뒤 구속영장을 신청할 방침입니다. #_경찰 #강도 #긴급체포'],
 ['[속보] 김태오 전 대구은행 DGB금융그룹 회장 원심 파기 징역 2년에 집유 3년',
  '대구고등법원 제2형사부 정승규 부장판사는 캄보디아에서 상업은행 인가를 받기 위해 350만 달러를 건넨 혐의 등으로 기소된 김태오 전 회장에게 무죄를 선고한 원심을 파기하고 징역 2년에 집행유예 3년을 선고했습니다. 함께 기소된 임직원 3명 역시 무죄를 선고한 원심을 파기하고 징역 1년 6개월에서...'],
 ['iM뱅크대구은행지부, \'행동으로 입증한 지난해\'···"올해도 초심 잃지 않겠다"',
  '금융노조 iM뱅크대구은행지부가 11일 오전 대구 iM뱅크대구은행 본점에서 제57년차 정기전국대의원대회를 열었다. ⓒ 참여와혁신 박완순 기자 wspark@laborplus.co.kr 금융노조 iM뱅크대구은행지부(위원장 백지노)가 11일 오전 대구 iM뱅크 본점에서 제57년차 정기전국대의원대회를 열었다. 이날...'],
 ['[화촉]이찬희(전 대구신용보증재단 이사장, 대구은행 부행장) 딸 서현 양, 15일 결혼',
  '▶장준호·한은숙 씨 아들 장영철 군, 이찬희(전 대구신용보증재단 이사장, 대구은행 부행장)·김미숙 씨 딸 서현 양. 2월 15일(토) 오후 4시 50분. 호텔수성(대구시 수성구 두산동) 수성스퀘어 3층 블레스홀.'],
 ['울산시, 중소기업에 시설자금 200억 지원',
  '협약 금융기관 12개소(BNK울산경남은행, KB국민은행, IBK기업은행, NH농협은행, DGB대구은행, BNK부산은행, 신한은행, KEB하나은행, KDB산업은행, 우리은행, 한국수출입은행, 새마을금고중앙회)를 통해 대출받을 수 있다. 지원 대상은 울산에 사업장을 두었거나 둘 예정인 중소기업으로, 자금 사용처가...'],
 ['드림어스컴퍼니 ‘플로’, 하나카드 앱 ‘하나Pay’ 제휴 프로모션 실시',
  '플로는 글로벌 음악 플랫폼 수준인 9000만곡 이상의 음원 라이브러리와 고도화된 AI 추천 기술을 기반으로 iM뱅크(옛 대구은행) 및 삼성금융네트웍스 통합 금융 앱 ‘모니모’ 등 금융권과 제휴 프로모션을 이어가고 있다. 또한, 연내 출시 예정인 LG전자의 ‘AI홈 허브’에 파트너사로 참여하고 차량용...'],
 ['대구은행 새 이름 iM뱅크, 가장 지역적인 시중은행으로[금융특집]',
  "대구경북 지역 대표기업으로 성장해 온 iM뱅크(옛 대구은행)가 올해 전국구 은행으로 재탄생했다. 1967년 10월 국내 첫 지방은행으로 출범한 지 57년 만인 지난 5월 시중은행으로 전환하면서다. 이는 지방은행에서 시중은행으로 전환한 국내 첫 사례다. iM뱅크는 시중은행으로서 비전을 '전국의 고객과 함께..."],
 ['DGB금융 사외이사 대거 임기 만료...‘전국 진출’ 맞춰 다변화 나서나',
  '현재 DGB금융 자회사로 있는 iM뱅크(아이엠뱅크·구 DGB대구은행)는 지난해 7월 금융당국 인가를 통해 시중은행으로 전환했다. DGB금융은 은행 뿐 아니라 증권·캐피탈·보험 등의 자회사 사명도 ‘iM’으로 바꾸고 전국구 진출에 나선 상황이다. DGB금융의 사업·영업 범위가 전국으로 확대되고 있지만 현재...'],
 ['울산시, 중소기업 시설자금 200억원 지원…업체당 최대 8억원',
  '협약 금융기관 12곳(BNK울산경남은행, KB국민은행, IBK기업은행, NH농협은행, DGB대구은행, BNK부산은행, 신한은행, KEB하나은행, KDB산업은행, 우리은행, 한국수출입은행, 새마을금고중앙회)을 통해 대출받을 수 있다. 울산에 사업장을 두었거나 둘 예정인 중소기업이 지원 대상이며, 자금 사용처가...'],
 ["iM뱅크, 대구 영업점 잇단 '폐쇄'…시중은행 전환 명분 '퇴색'",
  '[사진=DGB금융그룹] iM뱅크(구 DGB대구은행)가 대구지역 영업점을 잇달아 폐쇄하면서 시중은행으로 전환한 명분이 퇴색하고 있다는 지적이 나온다. 특히 노인 고객에 대한 배려가 무시되면서 금융 소외층이 늘어날 것이란 우려가 나온다. 11일 금융업계에 따르면 iM뱅크는 지난 2일 대구지역 영업점 4곳을...']]

In [4]:
# 방법 1(한번에 확 내려야 할때)
driver.execute_script("window.scrollTo(0, document.body.scrollHeight);") #0부터 뉴스 본문 페이지 까지 스크롤 하기

In [5]:
# 방법 2(조금씩 내려야 할때)
body = driver.find_element(By.TAG_NAME, "body")
for n in range(10):
    body.send_keys(Keys.PAGE_DOWN)
    time.sleep(2)

In [6]:
# 뉴스기사 100개 수집
box = []
while True:
    news = driver.find_element(By.CSS_SELECTOR, "ul.list_news._infinite_list").find_elements(By.CSS_SELECTOR, "li.bx")
    for i in news:
        title = (i.find_element(By.CSS_SELECTOR, "a.news_tit").get_attribute('title'))
        summary = (i.find_element(By.CSS_SELECTOR, "div.dsc_wrap").text.strip())
        A = [title, summary]
        if A not in box:
            box.append(A)
            if len(box) == 100:
                break
    if len(box) == 100:
        break
    print(f"{len(box)}개 뉴스기사 수집 완료")
    driver.execute_script("window.scrollTo(0, document.body.scrollHeight);")
    time.sleep(3)

10개 뉴스기사 수집 완료
20개 뉴스기사 수집 완료
20개 뉴스기사 수집 완료
20개 뉴스기사 수집 완료
20개 뉴스기사 수집 완료
20개 뉴스기사 수집 완료
20개 뉴스기사 수집 완료
20개 뉴스기사 수집 완료
20개 뉴스기사 수집 완료
20개 뉴스기사 수집 완료
20개 뉴스기사 수집 완료
20개 뉴스기사 수집 완료
20개 뉴스기사 수집 완료
30개 뉴스기사 수집 완료
40개 뉴스기사 수집 완료
50개 뉴스기사 수집 완료
50개 뉴스기사 수집 완료
50개 뉴스기사 수집 완료
60개 뉴스기사 수집 완료
70개 뉴스기사 수집 완료
70개 뉴스기사 수집 완료
70개 뉴스기사 수집 완료
70개 뉴스기사 수집 완료
70개 뉴스기사 수집 완료
70개 뉴스기사 수집 완료
70개 뉴스기사 수집 완료
70개 뉴스기사 수집 완료
70개 뉴스기사 수집 완료
70개 뉴스기사 수집 완료
70개 뉴스기사 수집 완료
70개 뉴스기사 수집 완료
70개 뉴스기사 수집 완료
70개 뉴스기사 수집 완료
70개 뉴스기사 수집 완료
70개 뉴스기사 수집 완료
70개 뉴스기사 수집 완료
70개 뉴스기사 수집 완료
70개 뉴스기사 수집 완료
70개 뉴스기사 수집 완료
70개 뉴스기사 수집 완료
70개 뉴스기사 수집 완료
70개 뉴스기사 수집 완료
80개 뉴스기사 수집 완료
90개 뉴스기사 수집 완료

In [11]:
import pandas as pd
df = pd.DataFrame(box, columns = ["제목", "내용"])
df.to_excel("네이버 뉴스기사.xlsx", index = False)
df

,제목,내용
0,대구 은행서 4천만원 턴 30대 은행강도 1시간여 만 검거,차단하고 추적에 나서 1시간여 만에 은행에서 500m 떨어진 상가 옥상에 숨어 있던...
1,[속보] 김태오 전 대구은행 DGB금융그룹 회장 원심 파기 징역 2년에 집유 3년,대구고등법원 제2형사부 정승규 부장판사는 캄보디아에서 상업은행 인가를 받기 위해 3...
2,"iM뱅크대구은행지부, '행동으로 입증한 지난해'···""올해도 초심 잃지 않겠다""",금융노조 iM뱅크대구은행지부가 11일 오전 대구 iM뱅크대구은행 본점에서 제57년차...
3,"[화촉]이찬희(전 대구신용보증재단 이사장, 대구은행 부행장) 딸 서현 양, 15일 결혼","▶장준호·한은숙 씨 아들 장영철 군, 이찬희(전 대구신용보증재단 이사장, 대구은행 ..."
4,"울산시, 중소기업에 시설자금 200억 지원","협약 금융기관 12개소(BNK울산경남은행, KB국민은행, IBK기업은행, NH농협은..."
...,...,...
95,"대구은행, '초자동화·초개인화' 전략에 총력… '뉴하이브리드 뱅크' 업무효율성 극대화",◆‘RPA 기반 초자동화’ 강화… 대고객 채널·내부업무 효율화 지속 개선 'iM뱅크...
96,"시중銀 '메기' 꿈꾸는 대구은행, 6배 체급차 극복할 수 있을까",창립 56년만에 시중은행으로 전환된 DGB대구은행이 시중은행을 견제할 메기 역할을 ...
97,대구은행의 시중은행 전환에 '정치적 배경' 의혹,금융당국이 대구은행을 시중은행으로 인가한 것을 두고 말이 많다. 어느 모로 보나 대...
98,시중은행 전환 대구은행… '뉴 하이브리드 뱅크' 구현 전략 본격 속도전,"이상근 대구은행 ICT그룹 부행장 -디지털 전략 중시, '뉴 하이브리드뱅크' 구현할..."
99,"전국구된 대구은행, OK그룹 영향력은","모회사 DGB금융 최대주주 등극…현재 단순투자 명시, 향후 일반투자 변경 가능성도 ..."

In [91]:
# 네이버 스토어 산지식송에서 가격, 제목, 별점, 리뷰를 가진 100개의 자료 가지고 오기
driver = uc.Chrome()
driver.get("https://shopping.naver.com/fresh/directfarm/home")
food = driver.find_elements(By.CSS_SELECTOR, "li._1OKV3UfxuI")
food

[<undetected_chromedriver.webelement.WebElement (session="3ab0b2956dac97e96e1f01311f45bfe9", element="f.53660FA27A8F69C5AAF492FF84FB9283.d.989E4B18CE28AE0BFBD0FA6E831C828E.e.120")>,
 <undetected_chromedriver.webelement.WebElement (session="3ab0b2956dac97e96e1f01311f45bfe9", element="f.53660FA27A8F69C5AAF492FF84FB9283.d.989E4B18CE28AE0BFBD0FA6E831C828E.e.121")>,
 <undetected_chromedriver.webelement.WebElement (session="3ab0b2956dac97e96e1f01311f45bfe9", element="f.53660FA27A8F69C5AAF492FF84FB9283.d.989E4B18CE28AE0BFBD0FA6E831C828E.e.122")>,
 <undetected_chromedriver.webelement.WebElement (session="3ab0b2956dac97e96e1f01311f45bfe9", element="f.53660FA27A8F69C5AAF492FF84FB9283.d.989E4B18CE28AE0BFBD0FA6E831C828E.e.123")>,
 <undetected_chromedriver.webelement.WebElement (session="3ab0b2956dac97e96e1f01311f45bfe9", element="f.53660FA27A8F69C5AAF492FF84FB9283.d.989E4B18CE28AE0BFBD0FA6E831C828E.e.124")>,
 <undetected_chromedriver.webelement.WebElement (session="3ab0b2956dac97e96e1f01311f45bfe9", element="f.53660FA27A8F69C5AAF492FF84FB9283.d.989E4B18CE28AE0BFBD0FA6E831C828E.e.125")>,
 <undetected_chromedriver.webelement.WebElement (session="3ab0b2956dac97e96e1f01311f45bfe9", element="f.53660FA27A8F69C5AAF492FF84FB9283.d.989E4B18CE28AE0BFBD0FA6E831C828E.e.126")>,
 <undetected_chromedriver.webelement.WebElement (session="3ab0b2956dac97e96e1f01311f45bfe9", element="f.53660FA27A8F69C5AAF492FF84FB9283.d.989E4B18CE28AE0BFBD0FA6E831C828E.e.127")>,
 <undetected_chromedriver.webelement.WebElement (session="3ab0b2956dac97e96e1f01311f45bfe9", element="f.53660FA27A8F69C5AAF492FF84FB9283.d.989E4B18CE28AE0BFBD0FA6E831C828E.e.128")>,
 <undetected_chromedriver.webelement.WebElement (session="3ab0b2956dac97e96e1f01311f45bfe9", element="f.53660FA27A8F69C5AAF492FF84FB9283.d.989E4B18CE28AE0BFBD0FA6E831C828E.e.129")>]

In [92]:
box = []
for i in food:
    title = i.find_element(By.CSS_SELECTOR, "strong._1lxNNH5gfD").text.strip()
    price = i.find_element(By.CSS_SELECTOR, "span._3MzrqSUlwR").text
    star = i.find_element(By.CSS_SELECTOR, "span._29gNnX1yLx").text.split("\n")[1]
    review = i.find_elements(By.CSS_SELECTOR, "span._29gNnX1yLx")[1].text
    A = [price, title, star, review]
    if A not in box:
        box.append(A)

box

[['17,800원',
  '거거수산 실패 없는 벌교 새꼬막 1kg (2kg부터 구매가능) 꼬막 제철 자숙 꼬막오프너',
  '4.77',
  '29,554'],
 ['33,900원', '대저 짭짤이 토마토 2.5kg 특품 품평회 금상수상', '4.71', '15,149'],
 ['34,900원', '품평회 대상수상 부산 대저 짭짤이 토마토 2.5kg 특품 대저토마토', '4.72', '12,506'],
 ['24,900원', '[맛없으면 100% 환불] 실패없는 고당도 천혜향', '4.88', '586'],
 ['32,900원', '프리미엄 고당도 레드향 3kg 특품 로얄과 선물세트', '4.73', '2,067'],
 ['33,400원', '대저 짭짤이 토마토 2.5kg 로얄과 부산 하늘농원 미니과', '4.57', '27,859'],
 ['74,000원', '동해 삼척 피문어 생물 대왕 문어 제수용 자숙 대문어 1.5kg 시세', '4.9', '3,540'],
 ['21,900원', '제주 레드향 직배송 프리미엄 가정용 선물세트', '4.59', '31,891'],
 ['39,900원', '부산 대저토마토 대저 짭짤이 토마토', '4.77', '13,631'],
 ['16,500원', '농장에서 갓 따온 신선한 설향 딸기 프리미엄 생딸기 750g', '4.88', '7,084']]

In [53]:
box = []
while True:
    for i in driver.find_elements(By.CSS_SELECTOR, "li._1OKV3UfxuI"):
        title = (i.find_element(By.CSS_SELECTOR, "strong._1lxNNH5gfD").text.strip())
        price = (i.find_element(By.CSS_SELECTOR, "span._3MzrqSUlwR").text)
        star = (i.find_element(By.CSS_SELECTOR, "span._29gNnX1yLx").text.split("\n")[1])
        review = (i.find_elements(By.CSS_SELECTOR, "span._29gNnX1yLx")[1].text)
        A = [title, price, star, review]
        if A not in box:
            box.append(A)
            if len(box) == 100:
                break
    print(f"{len(box)}개 아이템 수집 완료")
    driver.execute_script("window.scrollTo(0, document.body.scrollHeight);")
    time.sleep(3)
    if len(box) == 100:
        break

20개 아이템 수집 완료
20개 아이템 수집 완료
20개 아이템 수집 완료
60개 아이템 수집 완료
80개 아이템 수집 완료
100개 아이템 수집 완료

In [93]:
df = pd.DataFrame(box, columns = ["제목", "가격", "별점", "리뷰"])
df

        제목                                                 가격    별점      리뷰
0  17,800원  거거수산 실패 없는 벌교 새꼬막 1kg (2kg부터 구매가능) 꼬막 제철 자숙 꼬막오프너  4.77  29,554
1  33,900원                       대저 짭짤이 토마토 2.5kg 특품 품평회 금상수상  4.71  15,149
2  34,900원              품평회 대상수상 부산 대저 짭짤이 토마토 2.5kg 특품 대저토마토  4.72  12,506
3  24,900원                        [맛없으면 100% 환불] 실패없는 고당도 천혜향  4.88     586
4  32,900원                       프리미엄 고당도 레드향 3kg 특품 로얄과 선물세트  4.73   2,067
5  33,400원                   대저 짭짤이 토마토 2.5kg 로얄과 부산 하늘농원 미니과  4.57  27,859
6  74,000원             동해 삼척 피문어 생물 대왕 문어 제수용 자숙 대문어 1.5kg 시세   4.9   3,540
7  21,900원                           제주 레드향 직배송 프리미엄 가정용 선물세트  4.59  31,891
8  39,900원                                부산 대저토마토 대저 짭짤이 토마토  4.77  13,631
9  16,500원                  농장에서 갓 따온 신선한 설향 딸기 프리미엄 생딸기 750g  4.88   7,084

In [98]:
# 사진 가지고 오기
import requests

idx = 0
for i in driver.find_elements(By.CSS_SELECTOR, "li._1OKV3UfxuI"):
    image = (i.find_element(By.TAG_NAME, "img"))
    src = (image.get_attribute("src"))
    if not src: 
        continue #src가 없으면 그냥 계속 넘어가라
    for j in ['.jpg', '.png', '.jpeg', '.gif']:
        if j in src:
            a = src.split("?")[0]
            f = open(f"{idx}{j}", 'wb')
            response = requests.get(src)
            f.write(response.content)
            f.close()
            idx += 1

In [68]:
from bs4 import BeautifulSoup
driver = uc.Chrome()
driver.get("https://finance.naver.com/item/sise_day.naver?code=005930")

In [78]:
# 1~10 페이지 테이블을 셀레니움으로 가져와서 하나의 데이터 프레임 만들기!
import warnings
warnings.filterwarnings("ignore")
html = BeautifulSoup(driver.page_source)
table = html.find("table")
table = pd.read_html(str(table))[0].dropna()
table

            날짜       종가        전일비       시가       고가       저가         거래량
1   2025.02.27  56500.0    하락  100  56500.0  57100.0  56400.0   7445587.0
2   2025.02.26  56600.0    하락  600  57000.0  57100.0  56100.0  18117091.0
3   2025.02.25  57200.0    하락  100  56600.0  57800.0  56500.0  14625181.0
4   2025.02.24  57300.0    하락  900  57300.0  57700.0  57200.0  14138471.0
5   2025.02.21  58200.0    하락  200  58400.0  58500.0  57100.0  22198428.0
9   2025.02.20  58400.0    하락  300  59100.0  59100.0  58100.0  21589059.0
10  2025.02.19  58700.0  상승  1,800  57400.0  58900.0  57300.0  25395151.0
11  2025.02.18  56900.0    상승  900  56200.0  57200.0  55900.0  22131007.0
12  2025.02.17  56000.0        보합0  56100.0  56500.0  55700.0  11916027.0
13  2025.02.14  56000.0    상승  200  56000.0  57300.0  56000.0  23979779.0

In [79]:
box = []
for n in range(1, 11):
    driver.get(f"https://finance.naver.com/item/sise_day.naver?code=005930&page={n}")
    time.sleep(2)
    html = BeautifulSoup(driver.page_source)
    table = html.find("table")
    table = pd.read_html(str(table))[0].dropna()
    box.append(table)

In [80]:
pd.concat(box)

            날짜       종가        전일비       시가       고가       저가         거래량
1   2025.02.27  56600.0        보합0  56500.0  57100.0  56400.0   7759555.0
2   2025.02.26  56600.0    하락  600  57000.0  57100.0  56100.0  18117091.0
3   2025.02.25  57200.0    하락  100  56600.0  57800.0  56500.0  14625181.0
4   2025.02.24  57300.0    하락  900  57300.0  57700.0  57200.0  14138471.0
5   2025.02.21  58200.0    하락  200  58400.0  58500.0  57100.0  22198428.0
..         ...      ...        ...      ...      ...      ...         ...
9   2024.10.07  61000.0    상승  400  60200.0  61900.0  59500.0  35066533.0
10  2024.10.04  60600.0    하락  700  61000.0  61700.0  60500.0  24247578.0
11  2024.10.02  61300.0    하락  200  60500.0  61900.0  59900.0  28473536.0
12  2024.09.30  61500.0  하락  2,700  64200.0  64300.0  61500.0  32694163.0
13  2024.09.27  64200.0    하락  500  64700.0  65400.0  64200.0  28433030.0

[100 rows x 7 columns]

#### 페이지가 모두 뜰때(HTML 한정)까지 최대 10초를 기다려라!

In [81]:
# 셀레니움 개 사기 기술
box = []
for n in range(1, 720):
    driver.implicitly_wait(10) #페이지가 모두 뜰때까지 최대 10초를 기다려라!
    driver.get(f"https://finance.naver.com/item/sise_day.naver?code=005930&page={n}")
    html = BeautifulSoup(driver.page_source)
    table = html.find("table")
    table = pd.read_html(str(table))[0].dropna()
    box.append(table)

In [84]:
samsung = pd.concat(box, ignore_index = True)
samsung = samsung.iloc[1:] # 2월 27일 기준으로 27일은 아직 형성중이기 때문에 제외
samsung.to_excel("삼성 주가 데이터.xlsx", index = False)
samsung

              날짜       종가        전일비       시가       고가       저가         거래량
1     2025.02.26  56600.0    하락  600  57000.0  57100.0  56100.0  18117091.0
2     2025.02.25  57200.0    하락  100  56600.0  57800.0  56500.0  14625181.0
3     2025.02.24  57300.0    하락  900  57300.0  57700.0  57200.0  14138471.0
4     2025.02.21  58200.0    하락  200  58400.0  58500.0  57100.0  22198428.0
5     2025.02.20  58400.0    하락  300  59100.0  59100.0  58100.0  21589059.0
...          ...      ...        ...      ...      ...      ...         ...
7177  1996.06.29  68500.0    상승  400  68100.0  69100.0  67100.0     96710.0
7178  1996.06.28  68100.0  상승  1,200  67300.0  68500.0  67200.0    138430.0
7179  1996.06.27  66900.0    하락  800  67500.0  67700.0  66700.0    155450.0
7180  1996.06.26  67700.0    상승  200  67600.0  67900.0  66000.0    136630.0
7181  1996.06.25  67500.0        보합0  66500.0  68300.0  65600.0    112960.0

[7181 rows x 7 columns]

In [ ]:
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC

# 어떤 특정 요소가 뜰때까지 기다린다. (HTML, JAVA스크립트 모두 가능)
wait = WebDriverWait(driver, 10)
A = wait.until(EC.presence_of_element_located(By.CSS_SELECTOR, "table"))
A.click()